@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

body {
  font-family: "Tenor Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background: #f9f9f9;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.section + .section {
  padding-top: 100px;
}

p {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
}

h2 {
  font-size: 44px;
  line-height: 53px;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-block;
  color: #514f4f;
  padding: 18px 60px;
  background: #ffe600;
  border-radius: 4px;
  cursor: pointer;
}

.detailed {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 130px;
  text-decoration: underline;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #ffffff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  column-gap: 30px;
  font-weight: 500;
}

.nav-link {
  color: #787878;
}

.nav-link.active {
  color: #000;
}

.nav-button {
  display: none;
}

.phone {
  font-weight: 500;
  font-size: 22px;
  color: black;
  min-width: max-content;
  justify-self: end;
  font-family: "TT Norms";
}

.phone-img {
  display: none;
}

.section1 {
  position: relative;
  overflow: hidden;
}

.section1 .container {
  display: flex;
  min-height: 591px;
}

.section1-text {
  z-index: 2;
  max-width: 54%;
}

.section1-text h1 {
  font-size: 61px;
  line-height: 73px;
  margin-top: 66px;
}

.section1-text p {
  max-width: 580px;
  margin: 40px 0;
  line-height: 26px;
}

.section1-text p span {
  font-weight: bold;
}

.section1-img {
  position: absolute;
  width: 800px;
  height: auto;
  left: 47%;
  top: 50px;
  z-index: 1;
}

.section1-decor {
  position: absolute;
  right: 0;
  top: 20px;
}

.section2-parent {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "d1 d1 d1 d2 d2 d2"
    "d1 d1 d1 d2 d2 d2"
    "d3 d3 d4 d4 d5 d5"
    "d3 d3 d4 d4 d5 d5";
}

.div1 {
  grid-area: d1;
}
.div2 {
  grid-area: d2;
}
.div3 {
  grid-area: d3;
}
.div4 {
  grid-area: d4;
}
.div5 {
  grid-area: d5;
}

.section2 h2 {
  padding-bottom: 40px;
}

.section3-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3-text {
  max-width: 50%;
  position: relative;
}

.section3-text p {
  padding: 20px 0;
  line-height: 19px;
}

.section3-decor {
  position: absolute;
  right: 100px;
  top: 100px;
  z-index: -1;
}

.section4 h2 {
  margin-bottom: 20px;
}

.section4 p {
  line-height: 120%;
  color: #363348;
  max-width: 790px;
}

.cards {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
  max-width: 395px;
  padding: 40px;
}

.card-text {
  flex-grow: 1;
}

.card h3 {
  margin-bottom: 20px;
  font-size: 25px;
  color: #34343f;
}

.card p {
  line-height: 26px;
  color: #000000;
}

.card-mode {
  padding-bottom: 20px;
  min-height: 140px;
}

.card-week {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 10px;
}

.card .card-week p {
  font-weight: 700;
  line-height: 120%;
  color: #34343f;
}

.card-text h4 {
  font-family: "TT Norms";
  font-weight: 700;
  margin-bottom: 15px;
}

.card .card-week a {
  padding: 1px 20px;
  background: #bfbfbf;
  border-radius: 4px;
  color: #ffffff;
}

.card .card-week-price {
  font-family: "TT Norms";
  font-size: 33px;
  text-transform: uppercase;
}

.card-btn {
  width: 223px;
  background: #ffe600;
  padding: 18px 7px;
  text-align: center;
  margin: 0 auto;
}

.card-btn a {
  color: #514f4f;
}

.card .card-star {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.section5-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.section5-text {
  max-width: 50%;
}

.section5-text p {
  padding: 20px 0 40px 0;
}

.section5-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  justify-content: center;
}

.section5-card span {
  border-bottom: 1px solid #353535;
}

.section6 h2 {
  margin-bottom: 20px;
}

.section6 h2 + p {
  margin-bottom: 40px;
  line-height: 24px;
  max-width: 905px;
}

.section6 span {
  font-weight: bold;
}

.section6-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.section6-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 27px;
  background: #f2f2f2;
  border-radius: 16px;
  padding: 30px 25px 40px 25px;
  max-width: 387px;
  position: relative;
}

.section6 h3 {
  font-size: 22px;
  color: #34343f;
  margin-bottom: 20px;
}

.section6-card h4 {
  position: absolute;
  right: 20px;
  bottom: 30px;
  font-size: 64px;
  color: #787878;
  opacity: 4%;
}

.section6 .detailed {
  margin: 0 auto;
}

.section7-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section7-text {
  max-width: 482px;
}

.section7-text p {
  padding: 20px 0 40px 0;
}

.question-answer {
  padding: 30px 0 10px;
  border-bottom: 1px solid #dddddd;
}

.question {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.question:hover {
  cursor: pointer;
}

.section8-btn {
  margin-top: 20px;
}

.section9 h2 {
  max-width: 800px;
  margin-bottom: 40px;
}

.section9 .carousel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  justify-content: space-between;
}

.section10-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.section10-text h2 {
  font-size: 30px;
  line-height: 36px;
  max-width: 470px;
}

.section10-text p {
  margin: 20px 0;
}

.section10-tel {
  display: flex;
  gap: 10px;
  font-family: "TT Norms";
  align-items: center;
  padding: 10px 20px;
  background: #ffffff;
  max-width: 370px;
  margin-bottom: 20px;
}

.section10-tel input {
  border-left: 1px solid #f0f0f0;
  padding-left: 60px;
  padding-right: 80px;
  color: #636365;
}

.section10-text #checkbox {
  margin-top: 20px;
}

.section10-text label {
  font-size: 14px;
  color: #c3c3c3;
  max-width: 350px;
}

.section10-checkbox {
  margin-top: 24px;
  max-width: 370px;
}

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.real-checkbox:focus + .custom-checkbox {
  box-shadow: 0px 0px 0px 1px #c3c3c3, 0px 0px 10px #c3c3c3;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #ffe600;
  border: 2px solid #ffe600;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}

.custom-checkbox::before {
  content: "";

  display: inline-block;
  width: 13px;
  height: 13px;

  background-image: url("/img/icons/check.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: 2px;

  transition: 0, 2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.section10-text label a {
  color: #ffe600;
}

.section11-wrapper {
  display: flex;
  gap: 123px;
}

.section11 .container p {
  margin: 20px 0;
}

.section12-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background: #f2f2f2;
}

.section12-content-left {
  padding: 40px 0 40px 40px;
  align-self: center;
}

.section12 h2 {
  color: #807f7f;
  margin-bottom: 20px;
}

.section12-img {
}

.section13 {
  padding-bottom: 100px;
}

.section13-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.section13-text {
  min-width: 210px;
}

.section13 h2 {
  margin-bottom: 30px;
}

.section13 p {
  margin: 10px 0 20px 0;
}

.section13 span {
  font-family: "TT Norms";
  font-weight: 700;
}

.section13 a {
  font-family: "TT Norms";
}

.section13-text-contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.section13-img {
  max-width: auto;
  max-height: 500px;
}

.footer {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 70px;
}

.footer-wrapper {
  display: grid;
  align-items: start;
  grid-template-columns: auto minmax(190px, 1fr) 1fr auto;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  border-bottom: 1px solid #dddfe0;
  grid-template-areas:
    "d1 d2 d3 d4"
    "d1 d5 d6 d6";
}

.footer .logo {
  grid-area: d1;
}
.footer-nav-1 {
  grid-area: d2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-nav-2 {
  grid-area: d3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-phone {
  grid-area: d4;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
}
.address-1 {
  grid-area: d5;
}
.address-2 {
  grid-area: d6;
}

/* Политика конфиденциальности */
.footer-down {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
  color: #a5a5b3;
  font-size: 14px;
}

.adress p {
  margin: 10px 0 20px 0;
}

.adress span {
  font-family: "TT Norms";
  font-weight: 700;
}

.adress a {
  font-family: "TT Norms";
}

/* Модальное окно 1 */
.fade-block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.14);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window {
  position: relative;
  background: #f2f2f2;
  padding: 30px 30px;
  max-width: 320px;
  text-align: center;
  border-radius: 25px;
}

.modal-window h2 {
  font-size: 21px;
  line-height: 25px;
}

.modal-window label {
  font-size: 10px;
}

.modal-window input {
  padding: 0;
  margin: 0;
  display: block;
  max-width: 260px;
}

.modal-window .section10-tel {
  max-width: 260px;
}

.modal-1-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.hidden {
  display: none;
}
